.checkout-page {
    padding: 40px 0;
}
.checkout-page .checkout-card .checkout-card-body{
    padding: 30px;
}
.checkout-page .common-title {
    font-size: 58px;
    position: relative;
    margin-bottom: 24px;
}

.checkout-page .common-title:after {
    content: "";
    position: absolute;
    bottom: 4px;
    width: 228px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, #F9E7C1 8%, #B48A3E 47%, #F9E7C1 93%);
    border-image-slice: 1;
    padding-bottom: 36px;
}

.checkout-page .common-primary-btn {
    color: var(--white);
    min-width: 210px;
    height: 50px;
    justify-content: center;
}

.checkout-page .common-primary-btn:hover {
    color: var(--primary-color);
}

.checkout-page .register-row {
    box-shadow: unset;
    border: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.checkout-page .register-row .col-md-8.col-12 {
    background-color: transparent;
    padding: 0;
}

.checkout-page .register-form {
    margin-top: 30px;

}

.checkout-page .register-form .input-icon i,
.checkout-page .common-user i {
    color: var(--primary-color);
}
.checkout-page .form-control~.form-notch div {
    border: 1px solid var(--primary-color);
}
.checkout-page .form-outline .form-control~.form-label {
    color: var(--light-black);
    font-weight: 400;
}

.checkout-page .form-check .form-check-label .register-row .register-form .form-outline .form-control {
    color: var(--light-black);
}

.checkout-page .form-check label {
    color: var(--light-black);
}

.checkout-page .form-check a {
    color: var(--primary-color);
}

.checkout-page .form-check .form-check-label {
    color: var(--light-black);
}

.checkout-page .cart-listing-content {
    padding: 10px 10px;
}

.checkout-page .cart-listing-content h5 {
    color: var(--white);
    font-weight:400;
    font-size: 14px;
}

.checkout-page .qunaty-item .cart-listing-content h5 {
    font-size: 14px;
}

.checkout-page .cart-listing-content p {
    color: var(--white);
    padding-top: 4px;
    text-align: left;
}

.checkout-page .checkout-detail .card {
    box-shadow: unset;
    margin-bottom: 10px;
    background: var(--primary-color);
}

.checkout-page .checkout-detail .card .qunaty-item {
    justify-content: space-between;
}

.checkout-page .order-summary-main-box {
    min-height: 112px;
    max-height: 120px;
    overflow-y: scroll;
}

.checkout-page .card-body.order-total-cardbody {
    padding: 0;

}


.checkout-page .card-body.order-total-cardbody .card {
    margin-top: 10px;
    border: 0;
    border-radius: 8px;
    background-color: transparent;

}

.checkout-page .order-price {
    margin-bottom: 10px;
    border-bottom: 1px solid var(--primary-color);
    padding-bottom: 10px;
}

.checkout-page .order-price h6 {
    color: var(--light-black);
    font-size: 14px;
    font-weight: 500;
}

.checkout-page .shpping-cart-box {
    margin-bottom: 10px;
    border-bottom: 1px solid var(--primary-color);
    padding-bottom: 10px;
}
.checkout-page .shpping-cart-box,
.checkout-page .shipping-total {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.checkout-page .card-body.order-total-cardbody p {
    font-size: 16px;
    color: var(--light-black);
    font-weight: 500;
}

.checkout-page .card-body.order-total-cardbody .total-shipping-cart p{
    color: var(--primary-color);
    font-weight:500;
}
.checkout-page .shipping-total h6 {
    color: var(--light-black);
    font-size: 14px;
}




.checkout-page .item-cart-title {
    font-size: 16px;
    color: var(--primary-color);
    margin-bottom: 10px;
    font-weight: 500;
}

.checkout-page .order-summary-box h4 {
    border-bottom: 0;
    margin: 20px 0 10px;
    padding: 0;
    font-size: 16px;
    color: var(--primary-color);
}


.checkout-page .order-summary-main-box {
    max-height: 0;
    /* jitni height me scroll chahiye */
    overflow-y: auto;
    /* vertical scroll enable */
    scrollbar-width: thin;
    /* Firefox */
    scrollbar-color: var(--primary-color) transparent;
    /* Firefox colors (thumb, track) */
    background-color: var(--white);
}

.checkout-page .total-shipping-cart {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--primary-color);
    margin-top: 10px;
    padding-top: 10px;
}

.checkout-page .total-shipping-cart p,
.checkout-page .total-shipping-cart h6 {
    font-size: 16px;
}

/* scorllbar */
/* Chrome, Edge, Safari */
.checkout-page .order-summary-main-box::-webkit-scrollbar {
    width: 0;
    /* scrollbar ki width */
}

.checkout-page .order-summary-main-box::-webkit-scrollbar-track {
    background: var(--shadow-white-color);
    /* track color */
    border-radius: 0;
    width: 0;
}

.checkout-page .order-summary-main-box::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    /* thumb color (gold) */
    border-radius: 0;
    border: 0px solid var(--shadow-white-color);;
    /* thumb ke around spacing effect */
}

.checkout-page .order-summary-main-box::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color);
    /* hover effect */
}

.checkout-page .input-icon i,
.checkout-page .common-user i {
    color: var(--primary-color);
}

.checkout-page .form-outline .form-control {
    margin-bottom: 10px;
    padding: 10px 12px 10px 12px;
    line-height: 0;
}




/* left-side part */
.checkout-page .total-shipping-cart h6{
    color: var(--primary-color);
}
.checkout-page .total-shipping-cart p
 {
    color: var(--white);
}

.checkout-page .order-summary-card {
    min-height: 537px;
    background-color: var(--white);
}

.checkout-page .shpping-cart-box span {
    color: var(--light-black);
    font-size: 14px;
    font-weight: 500;
}

@media (max-width:1024px) {
    .checkout-page {
        padding: 30px 0;
    }
}

@media (max-width:991px) {
    .checkout-page .item-cart-title {
        font-size: 14px;
    }

    .checkout-page .qunaty-box {
        flex-direction: column;
        align-items: center;
    }

    .checkout-page .cart-listing-content p {
        text-align: center;

    }

    .checkout-page .order-summary-main-box {
        min-height: 200px;
    }

    .checkout-page .cart-listing-content h5 {
        font-size: 12px;
        text-align: center;
    }

    .checkout-page .checkout-detail .card .qunaty-item {
        justify-content: center;
    }

}

@media (max-width:767px) {
    .checkout-page .order-summary-main-box {
        min-height: 205px;
    }

    .checkout-page .common-primary-btn {
        font-size: 14px;
    }

    .checkout-page .qunaty-box {
        gap: 10px;
    }

    .checkout-page .order-summary-card {
        margin-top: 20px;
    }

    .checkout-page button {
        margin-top: 0;
    }

    .checkout-page .total-shipping-cart p,
    .checkout-page .total-shipping-cart h6 {
        font-size: 14px;
    }
}