.home-main .common-banner-section {
    background-image: url(../assets/image/about-us-new.jpg);
    /* background-image: url(../assets/image/golden-rmb-coins-cloth-bag.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-section .banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    text-align: center;
    background-color: #33333397;
    width: 725px;
    padding: 70px 100px;
    max-width: 100%;
    border-radius: 15px;
}

.banner-section .owl-carousel .owl-item img {
    height: 100%;
    object-fit: cover;
    min-height: 450px;
    height: 100%;
    max-height: 650px;
    background-size: cover;
    background-position: center;
}

.banner-section .banner-slider {
    position: relative;
}

.banner-section .owl-theme .owl-nav.disabled+.owl-dots {
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 7%;
}

.banner-section .owl-stage {
    position: relative;
}

.banner-section .banner-content h2 {
    font-size: 48px;
    font-weight: 600;
    color: var(--white);
    margin-bottom: 18px;
    font-family: "Qwigley", cursive;
    letter-spacing: 0.9px;
    position: relative;
}

.banner-section .banner-content p {
    font-size: 20px;
    font-weight: 400;
    color: var(--white);
    margin-bottom: 18px;
}


.banner-section .desktop-view-banner {
    display: block;
    min-height: 450px;
    height: 100%;
    max-height: 650px;
}

.banner-section .mobile-view-banner {
    display: none;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: var(--primary-color);
    border: 1px solid var(--light-black);
}

.owl-theme .owl-dots .owl-dot span {
    width: 14px;
    height: 14px;
    color: var(--white);
}



/* shop-by-category */


a.cate_desc {
    position: relative;
    z-index: 1;
    text-decoration: none;
}


.cate_desc figure {
    margin-bottom: 30px;
}

.cate_desc figure img {
    max-width: 184px;
    min-width: 120px;
}

.cate_desc_inner_content {
    display: block;
    text-align: center;
}

.categary_list_slider a.cate_desc figure::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
    border-radius: 17px;
}

.gold-bars-img {
    text-align: center;
}

.common-shop-img {
    min-height: 250px;
    max-height: 250px;
    margin-top: 14px;
    
}

.common-shop-img img {
    max-width: 133px;
}


.types-card-slab-flare {
    position: absolute;
    top: -30px;
    right: -40px;
    opacity: 0;
    transition: 0.25s all ease-in-out;
}

.newsroom-section h4.common-title:after,
.inspire-section h4.common-title::after,
.new-arrivals-section h4.common-title::after,
.banner-section .banner-content h2::after {

    content: "";
    position: absolute;
    bottom: -5px;
    width: 228px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, #F9E7C1 8%, #B48A3E 47%, #F9E7C1 93%);
    border-image-slice: 1;
    padding-bottom: 36px;
}

.newsroom-section h4.common-title:after {
    width: 155px;
    left: 0;
    right: 0;
}

.newsroom-section h4.common-title {
    position: relative;
}

.newsroom-section .container-fluid {
    padding-right: 0;
    overflow: hidden;

}

.newsroom-section .newsroom-img-section {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 10px;
}

.newsoorm-icon-box {
    width: 10%;
}

.newsroom-section span.newsroom-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsroom-section span.newsroom-icon i {
    font-size: 20px;
    color: var(--primary-color);
}

.newsroom-section .common-title {
    text-align: center;
    margin-bottom: 40px;
}

.newsroom-section p {
    color: var(--light-gray);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 4px;
}

.newsroom-left-content {
    max-width: 400px;
    width: 100%;

}

.newsroom-section .read-more-btn {}

.newsroom-section .newsroom-left-content h6 {
    color: var(--light-black);
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 4px;

}

.newsroom-section a {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
}

.newsroom-section .right-newsroom-colum {
    background: url('../assets/image/new-showroom-bg.svg') no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.newsroom-section .right-newsroom-colum::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgb(0 0 0 / 67%);
}

.newsroom-section .right-newsroom-colum h6 {
    color: var(--white);
    font-size: 38px;
    font-weight: 500;
    font-family: "Qwigley", cursive;
    position: relative;
    z-index: 999;
    margin-bottom: 12px;
}

.newsroom-section .right-newsroom-colum span {

    font-weight: 500;
}

.newsroom-section .right-newsroom-colum p,
.newsroom-section .right-newsroom-colum span {
    color: var(--white);
    font-size: 16px;
    position: relative;
    z-index: 999;
}

.newsroom-section .right-newsroom-colum p {
    font-weight: 400;
    padding-bottom: 6px;
}

.newsroom-section .right-newsroom-colum {
    background-color: var(--light-gold);
    padding: 60px 50px;
}

/* video_Section */
/* contact-us.jpg' */
.video_section {
    background-image: url('../assets/image/contact-us.jpg');
    background-position: center;
    background-color: var(--light-black);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 19vh;
    margin-top: 80px;
    padding: 50px 0;
    overflow: hidden;
}

.video_section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #33333397;
}

/* .video_section::after {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--light-black);
} */

.video_section .video-section-container {
    /* min-height: 100vh; */
    /* background: var(--light-black); */
}

.video_section_content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.video_section .video-section-container .content {
    text-align: center;
    max-width: 787px;
    position: absolute;
    z-index: 1000;
    flex-direction: column;
    gap: 140px;
    top: calc(38% - 30px);
    display: flex;
}

.video_section .video_section_titles {
    display: flex;
    flex-direction: column;
}

.video_section .video-section-container video {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #00000066;
}

.video_section .video-section-container .content .play-button img {
    margin: 12px 0;

}

.video_section .content h6 {
    color: var(--white);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    width: 100%;
    max-width: unset;
    margin-bottom: 20px;
    display: initial;

}

.video_section h2 {
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: "Qwigley", cursive;
    color: var(--white);
    letter-spacing: 1.6px;
}


.video_section .section_ttl {
    margin-bottom: 20px;
    font-size: 70px;
    line-height: 64px;
}

.video_section .video_section .trust_white {
    position: absolute;
    bottom: 13.5%;
}

.video_section .playbtn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.video_section .video-section-container video {
    display: initial;
    z-index: 100;
    border-radius: 30px;
    padding: 0px 0px;
    margin-left: 15px;
    margin-right: 15px;
    width: 75%;
    max-width: 1296px;
    opacity: 1;
    max-height: calc(min(100vw, 1920px) * (108 / 192));
}

.video_section .video-section-container .content .play-button img {
    margin: 17px 0;
}

.new-home .video_section .content {
    transition: all .3s ease 0s;
    opacity: 1;
    z-index: initial;
    margin-bottom: 16px;
    flex-direction: column;
    gap: 140px;
}

.video_section .play-button {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
    z-index: 101;

}

.video_section video::-webkit-media-controls-timeline {
    display: none !important;
}

/* Firefox */
.video_section video::-moz-range-track {
    display: none !important;
}

.video_section .custom-vidio-text {
    font-size: 18px;
    color: var(--white);
    font-weight: 400;
}




/* inspire-section */
.inspire-section h4.common-title {
    position: relative;
}

.inspire-section .sub-title {
    font-size: 24px;
    color: var(--light-black);
    font-weight: 700;
    text-transform: uppercase;
}

.inspire-section .our_legacy-section {
    text-align: center;
}

.inspire-section .our_legacy-section .section-heading {
    font-size: 36px;
    font-weight: 500;
    padding-left: 15px;
    padding-right: 15px;
}

.inspire-section .section-heading h2 {
    color: var(--white);
    text-align: center;
    font-family: var(--font-heading);
    font-size: 65px;
    font-style: normal;
    font-weight: 500;
    line-height: 80px;
    max-width: 695px;
    margin: auto;
    width: 100%;
}

.inspire-section .our_legacy-section h3 {
    font-size: 230.45px;
    margin-top: 47px;
    margin-bottom: -99px;
    font-family: var(--font-Montserrat);
    letter-spacing: 0.66px;
    color: var(--light-black);
    font-weight: bold;
    line-height: 183.1px;
    background: linear-gradient(333deg, var(--light-black) -88.71%, var(--primary-color) 20%, var(--light-gray) 40%, rgba(255, 255, 255, 0) 85.84%);
    background-size: 100% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-transform: uppercase;
    animation: gradientMove 5s ease infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 0% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.inspire-section .alternative-img {
    height: 373px;
    opacity: 0.6;
    object-fit: cover;
    cursor: pointer;
    filter: drop-shadow(-10px 10px 24px rgba(0, 0, 0, 0.25));
    transition: all 0.3s ease 0s;
}

.inspire-section .alternative-img:hover {
    opacity: 1;
    transform: scale(1.05);
}

.inspire-section .common-inspire-img {
    height: 454px;
    object-fit: cover;
    width: 100%;
    filter: grayscale(1);
}

.inspire-section .common-inspire-img:hover {
    filter: grayscale(0);
}

.inspire-section .discovermore-link {
    position: absolute;
    overflow: hidden;
    bottom: 30px;
    left: 45px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
    flex-direction: column;
}

.inspire-section .discovermore-link a {
    color: var(--white);
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
    transition: all 0.3s ease 0s;
}

.inspire-section .discovermore-link img {
    height: auto;
    width: auto;
    margin-left: -35px;
}

.inspire-section .col-md.d-flex.align-items-center {
    position: relative;
}

.inspire-section .col-md.d-flex.align-items-center:hover .discovermore-link img {
    margin-left: 0px;
}

.inspire-section {
    max-width: 1920px;
    margin: auto;
    padding-top: 80px;

}

.ml-n195 {
    margin-left: 0px;
}

.mr-n195 {
    margin-right: 0px;
}

.inspire-section>div {
    overflow: hidden;
}


.inspire-section .crew-carousel {
    width: 100%;
    height: 450px;
    position: relative;
    perspective: 1000px;
    margin-top: 60px;
}

.inspire-section .crew-track {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s ease;
}

.inspire-section .crew-card {
    position: absolute;
    width: 650px;
    height: 380px;
    border-radius: 20px;
    overflow: hidden;
    background: white;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
    transition: all 0.8s ease;
    cursor: pointer;
}

.inspire-section .crew-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inspire-section .crew-card.center {
    z-index: 10;
    transform: scale(1.1);
}

.inspire-section .crew-card.left-1 {
    transform: translateX(-260px) scale(0.9);
    opacity: 0.8;
    filter: grayscale(80%);
}

.inspire-section .crew-card.left-2 {
    transform: translateX(-450px) scale(0.8);
    opacity: 0.6;
    filter: grayscale(100%);
}

.inspire-section .crew-card.right-1 {
    transform: translateX(260px) scale(0.9);
    opacity: 0.8;
    filter: grayscale(80%);
}

.inspire-section .crew-card.right-2 {
    transform: translateX(450px) scale(0.8);
    opacity: 0.6;
    filter: grayscale(100%);
}

.inspire-section .crew-card.hidden {
    opacity: 0;
    pointer-events: none;
}

.inspire-section .crew-info {
    text-align: center;
    margin-top: 40px;
}

.inspire-section .buy-now-btn {
    margin-top: 20px;
}

.inspire-section .buy-now-btn .common-primary-btn:hover {
    color: var(--primary-color);
}

.inspire-section .crew-name {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.16px;
    font-family: "Edu NSW ACT Cursive", cursive;
    margin-bottom: 10px;
    color: var(--light-black);
    /* deep orange */
}

.inspire-section .crew-role {
    font-size: 18px;
    text-transform: uppercase;
    color: var(--light-black);
    font-weight: 700;
    letter-spacing: 0.1em;
}

.inspire-section .crew-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}

.inspire-section .crew-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--secondary-color);
    /* orange tint */
    cursor: pointer;
}

.inspire-section .crew-dot.active {
    background: var(--primary-color);
}

.inspire-section .crew-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--primary-color);
    /* orange base */
    color: var(--white);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.inspire-section .crew-arrow:hover {
    background: var(--primary-color);
    /* deeper orange hover */
}

.inspire-section .crew-left {
    left: 20px;
    display: none;
}

.inspire-section .crew-right {
    right: 20px;
    display: none;
}




/* new-arrivals */
.new-arrivals-section h4.common-title {
    position: relative;
}

.new-arrivals-banner.owl-carousel.owl-theme.owl-loaded.owl-drag {
    margin-top: 50px;

}

.new-arrivals-section a {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.new-arrivals-section .arrival-card {
    background-color: var(--light-gray);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    transition: all 0.3s ease 0s;

}

.new-arrivals-section .arrival-card:hover {
    opacity: 1;
    transform: scale(0.7);
}

/* .new-arrivals-section .item {
            width: 240px !important;
} */
.new-arrivals-section a .arrival-slider-img {
    height: 125px;
    width: 125px;
    padding: 0;
    margin-inline: auto;
}

/* .new-arrivals-section .arrival-slider-img span {
    width: 175px;
    height: 175px;
    display: flex;
} */

.new-arrivals-section .arrival-slider-img span:after {
    opacity: 0.4;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 1.5s, 1.5s, 0.2s;
    transition-timing-function: ease;
}

.new-arrivals-section .arrival-slider-img span img {
    transition: all .6s ease 0s;
    max-height: 200px;
    margin: auto;
    height: 100%;
    object-fit: cover;
}

.new-arrivals-section .new-arrivals {
    margin-top: 50px;
}

/* New arrivals */
.trending-products .container-fluid {
    padding: 0 15px;
}



/* .new-arrivals-section .product-card .product-card-container {
    background-color: var(--white);
    position: relative;
} */

.new-arrivals-section .product-card:hover {
    /* transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); */

}

/* .new-arrivals-section .owl-carousel .owl-stage-outer {
    display: contents;
} */

.new-arrivals-section .product-img {
    position: relative;
    overflow: hidden;
    height: 350px;
    /* fix image height */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.new-arrivals-section .product-img img {
    width: 48%;
    transition: transform 0.3s ease;
}

.new-arrivals-section .product-card:hover img {
    transform: scale(1.05);
}

.new-arrivals-section .wishlist-btn {
    position: absolute;
    top: 4px;
    right: 10px;
    border: none;
    background: var(--white);
    border-radius: 50%;
    padding: 6px 10px;
    cursor: pointer;
    font-size: 18px;
    color: var(--light-gray);
    transition: all 0.3s ease;
}

.new-arrivals-section .wishlist-btn:hover {
    color: var(--primary-color);
}

.new-arrivals-section .product-info {
    padding: 15px 20px;
}

.new-arrivals-section .product-info small {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    color: var(--dark-gray);
}



.new-arrivals-section .product-price {
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
}

.new-arrivals-section .price-eyes-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.new-arrivals-section .price-eyes-section a:hover i {
    color: var(--primary-color);
}

.new-arrivals-section .owl-nav button.owl-prev {
    border: 1px solid var(--primary-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 100px;
    top: -63px;
}

.new-arrivals-section .owl-nav button.owl-next {
    border: 1px solid var(--primary-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 43px;
    top: -63px;

}

.new-arrivals-section .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: var(--primary-color);

}

.new-arrivals-section .owl-theme .owl-nav [class*=owl-]:hover span {
    color: var(--white);
}

.new-arrivals .owl-nav button span {
    font-size: 28px;
    color: var(--primary-color);
    font-weight: 400;
}



.product-lising-section .product-card:after,
.product-lising-section .product-card::before {
    display: none;
}

@media (max-width:1799px) {
    .ml-n195 {
        margin-left: -70px;
    }

    .mr-n195 {
        margin-right: -70px;
    }
}

@media (max-width:1650px) {
    .ml-n195 {
        margin-left: -180px;
    }

    .mr-n195 {
        margin-right: -180px;
    }
}

@media (max-width:1400px) {
    .ml-n195 {
        margin-left: -240px;
    }

    .mr-n195 {
        margin-right: -240px;
    }

    .inspire-section .alternative-img {
        height: 350px;
    }
}

@media (max-width:1440px) {
    .banner-section .banner-content {
        padding: 55px 89px;
        width: 644px;
    }

    .banner-section .banner-content h2 {
        font-size: 40px;
    }

    .banner-section .banner-content p {
        font-size: 18px;
    }

    .newsroom-left-content {
        max-width: 440px;
    }

    .newsroom-section .right-newsroom-colum {
        padding: 40px 90px;
    }

    .video_section .content {
        position: absolute;
        z-index: 1000;
    }

    .video_section .section_ttl {
        font-size: 55px;
    }

    .new-home .types-card-slab-flare {
        position: absolute;
        top: -230px;
        right: -160px;
        opacity: 0;
        transition: 0.25s all ease-in-out;
    }

}

@media (max-width:1280px) {
    .newsroom-section .right-newsroom-colum {
        padding: 30px 60px;
    }
    .common-shop-img img{
        max-width: 110px;
    }
}

@media (max-width:1199px) {

.common-shop-img{
    max-height: 200px;
    min-height: 200px;
}
    .newsroom-section span.newsroom-icon {
        width: 60px;
        height: 60px;
    }

    .newsroom-section span.newsroom-icon i {
        font-size: 24px;
    }

    .newsroom-left-content {
        max-width: 310px;
    }


    .ml-n195 {
        margin-left: -200px;
    }

    .mr-n195 {
        margin-right: -200px;
    }

    .common-inspire-img {
        height: 414px;

    }

    .inspire-section .alternative-img {
        height: 290px;
    }
}

@media (max-width:1024px) {

    .banner-section .banner-content {
        padding: 40px 71px;
        width: 516px;
    }

    .banner-section .banner-content h2 {
        font-size: 34px;
        margin-bottom: 6px;
    }

    .banner-section .banner-content p {
        font-size: 16px;
        margin-bottom: 6px;
    }

    .owl-theme .owl-dots .owl-dot span {
        width: 12px;
        height: 12px;
    }

    .newsroom-section .right-newsroom-colum h6 {
        font-size: 24px;
    }

    .newsroom-section .right-newsroom-colum {
        padding: 30px 30px;
    }

    .newsroom-section .newsroom-img-section {
        gap: 20px;
    }

    .newsroom-section .newsroom-left-content h6 {
        font-size: 18px;
    }

    .video_section .section_ttl {
        font-size: 50px;
    }

    .video_section {
        padding: 50px 0;
        margin-top: 50px;
    }

    .video_section .video-section-container .content {
        top: calc(41% - 92px);
    }



    .ml-n195 {
        margin-left: -200px;
    }

    .mr-n195 {
        margin-right: -200px;
    }

    .common-inspire-img {
        height: 364px;
    }

    .inspire-section .alternative-img {
        height: 240px;
    }

    .inspire-section {
        padding-top: 50px;
    }

    .inspire-section .sub-title {
        font-size: 20px;
    }

    .inspire-section .our_legacy-section h3 {
        font-size: 140px;
        margin-top: 20px;
        margin-bottom: -55px;
    }

    .inspire-section .crew-card {
        width: 450px;
    }



    .common-shop-img img {
        max-width: 100px;
    }



    .inspire-section .crew-card.left-2,
    .inspire-section .crew-card.right-2 {
        display: none;
    }

}

@media (max-width:991px) {
    .banner-section .banner-content {
        padding: 38px 69px;
        width: 498px;
    }

    .banner-section .owl-theme .owl-nav.disabled+.owl-dots {
        bottom: 4%;
    }



    .newsroom-left-content {
        max-width: max-content;
    }

    .newsroom-section .right-newsroom-colum {
        margin-top: 30px;
    }

    .newsroom-left-content {
        max-width: 590px;
        padding: 0 20px;
    }

    .newsroom-section .container-fluid {
        padding: 0;
    }

    .newsroom-section .left-newsroom-content {
        padding: 0 20px;
    }

    .newsroom-section .right-newsroom-colum {
        padding: 40px;
    }
    .video_section .section_ttl{
        font-size: 30px;
    }
    .video_section .video-section-container .content .play-button img {
        width: 50px;
    }

    .video_section .video-section-container .content {
        top: calc(59% - 139px);
        gap: 68px;
    }


    .contact-main-box .col-md-4.col-12:last-child .contact-box {
        margin-bottom: 0;
    }

    .common-inspire-img {
        height: 274px;
    }

    .inspire-section .alternative-img {
        height: 250px;
    }

    .inspire-section .crew-card {
        width: 85%;
    }

    .inspire-section .crew-card.right-1,
    .inspire-section .crew-card.right-2,
    .inspire-section .crew-card.left-1,
    .inspire-section .crew-card.left-2 {
        display: none;
    }


}

@media (max-width:767px) {

    .banner-section .owl-carousel .owl-item img {
        min-height: 242px;
        max-height: 400px;
    }

    .banner-section .desktop-view-banner {
        display: none;
    }

    .banner-section .mobile-view-banner {
        display: block;
    }

    .banner-section .banner-content {
        padding: 20px;
        width: 280px;
    }

    .banner-section .banner-content h2 {
        font-size: 20px;
        margin-bottom: 4px;
    }

    .banner-section .banner-content p {
        font-size: 14px;
        margin-bottom: 4px;
    }

    .owl-theme .owl-dots .owl-dot span {
        width: 10px;
        height: 10px;
    }

    .banner-section .owl-theme .owl-nav.disabled+.owl-dots {
        bottom: 2%;
    }



    .newsroom-section h4.common-title {
        text-align: center;
    }

    .newsroom-section h4.common-title:after {
        right: 0;
    }

    .newsroom-section .right-newsroom-colum {
        padding: 30px;
    }

    .newsroom-section .newsroom-left-content {
        text-align: center;
        padding: 0;
    }

    .newsroom-section .newsroom-img-section {
        flex-direction: column;
        align-items: center;
    }

    .newsroom-section .newsroom-img-section {
        margin-bottom: 20px;
    }

    .newsoorm-icon-box {
        width: auto;
    }

    .newsroom-section p {
        font-size: 14px;
    }

    .newsroom-section .right-newsroom-colum p,
    .newsroom-section .right-newsroom-colum span {
        font-size: 14px;
    }

    .newsroom-section .right-newsroom-colum h6 {
        margin-bottom: 12px;
    }

    .newsroom-section .right-newsroom-colum p {
        text-align: justify;
    }

    .video_section .video-section-container .content {
        max-width: 300px;
    }

    .video_section .section_ttl {
        font-size: 20px;
    }

    .video_section .video-section-container .content {
        top: calc(38% - 30px);
        gap: 12px;

    }

    .video_section .section_ttl {
        line-height: normal;
    }

    .video_section {
        min-height: 100%;
    }

    .video_section .play-button {
        transform: translate(-50%, 60%);
    }

    .video_section .content h6 {
        letter-spacing: 1.8px;
    }

    .inspire-section .common-inspire-img {
        height: 350px;
    }

    .inspire-section .crew-card {
        width: 89%;
    }

    .inspire-section .crew-carousel {
        margin-top: 20px;
    }

    .inspire-section .our_legacy-section h3 {
        font-size: 128px;
    }

    .inspire-section .crew-name {
        font-size: 24px;
    }

    .inspire-section .crew-info {
        margin-top: 0;
    }

    .inspire-section .crew-dots {
        margin-top: 16px;
    }

    .new-arrivals-section .wishlist-btn {
        font-size: 16px;
        top: 0px;
        right: 2px;
        background: transparent;
    }

    .new-arrivals-section .product-price {
        font-size: 12px;
    }

    .new-arrivals-section .product-img {
        height: 230px;
    }

    .new-arrivals-banner.owl-carousel.owl-theme.owl-loaded.owl-drag {
        margin-top: 20px;
    }

    .new-arrivals-section .owl-nav button.owl-prev {
        left: 0;
        right: 0;
        margin: 0 auto;
        top: unset;
        width: 30px;
        height: 30px;
    }

    .new-arrivals-section .owl-nav button.owl-next {
        width: 30px;
        height: 30px;
        right: 0;
        left: 80px;
        margin: 0 auto;
        top: unset;
    }

    .customer-card {
        margin-bottom: 40px;
    }

    .common-shop-img {
        min-height: 170px;
        max-height: 170px;
    }

    .common-shop-img img {
        max-width: 90px;
    }

    .video_section .video-section-container video {
        width: 100%;
    }

}

@media (max-width:576px) {
    .banner-section .banner-content {
        padding: 20px 10px;
    }

    .banner-section .banner-content p {
        font-size: 12px;
    }

    .services-section .services-card:after {}

    .video_section .video-section-container .content {
        max-width: 100%;
        word-break: break-word;
        white-space: initial;
        padding: 8px 20px;
    }

    .video_section .content h6 {
        line-height: normal;
        margin-bottom: 10px;
    }

    .video_section .video-section-container video {
        min-height: 280px;
        max-height: max-content;
    }

    .video_section .section_ttl {
        margin-bottom: 10px;
    }

    .video_section .video-section-container .content .play-button img {
        width: 30px;
    }



    .inspire-section .our_legacy-section h3 {
        font-size: 115px;
        margin-top: 0;
        margin-bottom: -109px;
        line-height: 143.1px;
    }

    .inspire-section .sub-title {
        font-size: 16px;
    }

    .inspire-section .crew-card {
        width: 270px;
        height: 300px;
    }


}

@media (max-width:425px) {
    .video_section {
        padding: 30px 0 50px;
    }
}

@media (max-width:376px) {
    .video_section {
        padding: 0 0 50px;
    }

    .video_section .video-section-container .content {
        top: calc(33% - 30px)
    }
}