    .profile-page .profile-card {
        background: var(--white);
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
        height: 100%;
    }

    .profile-page .profile-card h5 {
        font-size: 16px;
        color: var(--primary-color);
        font-weight: 500;
        padding-top: 10px;
        text-transform: uppercase;
    }

    .profile-page .profile-card .logout-text {
        font-size: 16px;
        color: var(--light-black);
        font-weight: 500;
        text-decoration: underline;
    }

    .profile-page .profile-card .user-profile {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin: 0 auto;
    }

    .profile-page .profile-card .user-profile img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 50%;
    }

    .profile-page .sidebar-menu button,
    .profile-page .sidebar-menu a {
        display: block;
        width: 100%;
        text-align: left;
        margin: 5px 0;
        border: 1px solid var(--medium-gray);
        background: var(--white);
        padding: 12px 15px;
        border-radius: 6px;
        font-weight: 500;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 14px;
    }

    .profile-page .sidebar-menu button.active,
    .profile-page .sidebar-menu a.active {
        background: var(--primary-color);
        color: var(--white);
    }

    .profile-page .sidebar-menu button i,
    .profile-page .sidebar-menu a {
        color: var(--primary-color);
    }

    .profile-page .sidebar-menu button.active i,
    .profile-page .sidebar-menu button:hover i,
    .profile-page .sidebar-menu a.active i,
    .profile-page .sidebar-menu a:hover i {
        color: var(--white);
    }

    .profile-page .sidebar-menu button:hover,
    .profile-page .sidebar-menu a:hover {
        background: var(--primary-color);
        color: var(--white);
    }

    .profile-page .pofile-content-card {
        /* background: var(--white);
        border-radius: 12px;
        padding: 25px;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.06);
        min-height: 300px; */
    }



    .profile-page .pofile-content-card .card .card-body i {
        font-size: 40px;
        color: var(--primary-color)
    }

    .profile-page .pofile-content-card a .card {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        transition: 0.5s;
        border-radius: 15px;
    }

    .profile-page .pofile-content-card a .card .card-body p {
        font-size: 16px;
        color: var(--light-black);
    }

    .profile-page .pofile-content-card .order-list-table .common-primary-btn {
        font-size: 12px;
        padding: 10px;
        max-width: 100%;
        min-width: 100%;
    }

    .profile-page .pofile-content-card .order-list-table .common-primary-btn:hover {
        color: var(--primary-color);
    }

    .profile-page #order-list-table.dataTable thead th,
    .profile-page #order-list-table.dataTable tbody td,
    .profile-page #wishlist-table.dataTable thead th,
    .profile-page #wishlist-table.dataTable tbody td {
        padding: 16px 20px;

    }

    .profile-page #order-list-table.dataTable tbody td,
    .profile-page #wishlist-table.dataTable tbody td {
        font-size: 14px;
        color: var(--light-black);
        font-weight: 400;
    }

    .profile-page #order-list-table.dataTable .dt-column-title,
    .profile-page #wishlist-table.dataTable .dt-column-title {
        font-size: 14px;
        color: var(--primary-color);
        font-weight: 500;
    }

    .profile-page #order-list-table.dataTable th.dt-ordering-asc span.dt-column-order:before,
    .profile-page #order-list-table.dataTable th.dt-ordering-asc span.dt-column-order:after,
    .profile-page #wishlist-table.dataTable th.dt-ordering-asc span.dt-column-order:before,
    .profile-page #wishlist-table.dataTable th.dt-ordering-asc span.dt-column-order:after {
        color: var(--primary-color);
    }

    .profile-page div.dt-container .dt-search input {
        border: 1px solid var(--primary-color);
        margin-left: 0;
        padding: 10px;
    }

    .profile-page div.dt-container .dt-info {
        font-size: 14px;
        color: var(--primary-color);
        font-weight: 400;
    }

    .profile-page .pagination .page-item .page-link {
        color: var(--primary-color);
        background: transparent;
        border: 1px solid var(--primary-color);
        width: 35px;
    }

    .profile-page .pagination .page-item .page-link:hover {
        background: var(--primary-color);
        color: var(--white);
    }

    .profile-page div.dt-container .dt-paging .dt-paging-button {
        padding: 0;
    }

    .profile-page div.dt-container .dt-paging .dt-paging-button:hover {
        /* background: transparent; */
        box-shadow: unset;
        border: 0;
    }

    .profile-page div.dt-container .dt-paging .dt-paging-button.disabled .page-link {
        background: var(--medium-gray);
        border: 1px solid var(--medium-gray);
        color: var(--primary-color);
    }

    .profile-page #order-list-table_wrapper label {
        font-size: 14px;
        color: var(--light-black);
        font-weight: 500;
    }

    /* account-form */
    .profile-page .account-form .choose-file-input .form-control {
        min-height: 40px;
        color: var(--primary-color);
        font-size: 14px;
        padding: 8px 12px 7px 12px;
        border: 1px solid var(--primary-color);

    }

    .profile-page .account-form .choose-file-input label {
        color: var(--light-black);
        font-size: 14px;
        font-weight: 500;
    }

    .profile-page .account-form .choose-file-input .form-control:focus {
        box-shadow: unset;
    }

    .profile-page .account-form .form-outline .form-control {
        margin-bottom: 10px;
        padding: 12px;
        line-height: 0;
        font-size: 14px;
    }

    .profile-page .account-form .form-control~.form-label {
        color: var(--light-black);
        font-weight: 500;
        font-size: 14px;
    }

    .profile-page .account-form .form-outline .form-control~.form-label {
        padding-top: 8px;
    }

    /* .profile-page .form-control~.form-notch div {
        border: 1px solid var(--primary-color);
    } */

    .profile-page .pofile-content-card .account-form .card-body i {
        font-size: 14px;
    }

    .profile-page .account-form .form-check .form-check-label .form-outline .form-control {
        color: var(--light-black);
    }

    .profile-page .account-form .save-btn-account .common-primary-btn {
        max-width: 100%;
        height: 54px;
        min-width: 100%;
    }

    .profile-page .account-form .save-btn-account .common-primary-btn:hover {
        color: var(--primary-color);
    }

    /* wishlist */
    #wishlist-table .primary-view .common-primary-btn,
    #order-list-table .primary-view .common-primary-btn {
        padding: 7px 12px;
        margin: 6px;
    }

    /* new css add */
    .profile-page .pofile-content-card .dt-input {
        color: var(--primary-color);
        box-shadow: 0px 10px 10px 0px rgba(153, 153, 153, 0.2);
        border: 1px solid var(--primary-color);
        padding: 10px 20px;
        width: 100%;
    }


    .profile-page .pofile-content-card label {
        font-size: 14px;
        color: var(--light-black);
        font-weight: 500;
    }

    .profile-page div.dt-container .dt-paging .dt-paging-button.disabled {
        background: var(--medium-gray);
        border: 1px solid var(--medium-gray);
        color: var(--primary-color);
        width: 35px;
        padding: 2px;
    }

    .profile-page .dt-column-title {
        font-size: 14px;
        color: var(--black);
    }

    .profile-page table .dt-empty {
        color: var(--primary-color) !important;
        font-size: 14px;
        font-weight: 500;
    }

    .profile-page table tr td {
        font-size: 14px;
        color: var(--light-black);
        font-weight: 400;
    }

    .profile-page div.dt-container .dt-paging .dt-paging-button,
    .profile-page div.dt-container .dt-paging .dt-paging-button.current {
        color: var(--white) !important;
        background: var(--primary-color);
        border: 0 !important;
        width: 40px;
        padding: 2px;
        height: 32px;
    }

    .profile-page div.dt-container .dt-paging .dt-paging-button:hover,
    .profile-page div.dt-container .dt-paging .dt-paging-button.current:hover {
        background: var(--primary-color);
        color: var(--white) !important;
    }

    .profile-page .dt-paging nav {
        display: flex;
        gap: 4px;
    }

    @media (max-width:991px) {
        .profile-page .pofile-content-card .content-section {
            margin-top: 30px;
        }
    }

    @media (max-width:767px) {


        .profile-page .pofile-content-card .card {
            margin-bottom: 16px;
        }
           .profile-page  div.dt-container div.dt-layout-row:not(.dt-layout-table) div.dt-layout-cell > * {
        margin: 0;
        text-align: left;
    }
    }