.register-page {
    margin: 40px 0;
}

.register-page .common-title {
    font-size: 58px;
    position: relative;
    margin-bottom: 30px;
}

.register-page .common-title:after {
    content: "";
    position: absolute;
    bottom: 4px;
    width: 228px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, #F9E7C1 8%, #B48A3E 47%, #F9E7C1 93%);
    border-image-slice: 1;
    padding-bottom: 36px;
}

.register-page p {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: var(--black);
}

.register-page .register-info {
    display: flex;
    align-items: center;
    gap: 8px;
    background: var(--primary-color);
    color: var(--white);
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 30px;
}

.register-page .register-info {
    font-size: 14px;
}

.register-page .register-info p {
    font-size: 14px;
    color: var(--white);
    font-weight: 400;
}

.register-img {
    width: 100%;
    background: url('../assets/image/gold-register.svg') no-repeat;
    height: 100%;
        background-size: cover;
    background-position: center
}

.register-row {
    background: var(--white);
    border: 1px solid var(--light-white);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 30px;
}

.register-page .register-row .col-md-5.col-12 {
    padding: 0;
}

.register-page .register-row .col-md-7.col-12 {
    padding: 30px 20px;
    background: var(--white);
}

.register-page .form-outline {
    margin-bottom: 10px;
}

.register-row .register-form .form-outline .form-control {
    padding: 10px 12px 10px 12px;
    color: var(--light-black);
    font-size: 14px;
}

.register-page .register-form .form-outline .form-control~.form-label {
    color: var(--primary-color);
    font-size: 16px;
}

.register-page .form-control~.form-notch div {
    border: 1px solid var(--primary-color);
}

.register-page button {
    max-width: 100%;
    min-width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 13px;
    justify-content: center;
}

.register-page button:hover {
    color: var(--primary-color);
}

.register-page .form-check .form-check-label {
    margin-bottom: 10px;
    font-size: 14px;
    color: var(--primary-color);
    font-weight: 500;
}

.register-page .form-check .form-check-label a {
    color: var(--primary-color);
}

.register-page .form-check-input[type=checkbox]:checked {
    background-image: none;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.register-link p a {
    color: var(--primary-color);
    font-weight: 500;
}

/* .register-page .register-form .input-icon,
.register-page .common-user {
    position: absolute;
    top: 8px;
    right: 22px;
} */

.register-page .register-form .input-icon i,
.register-page .common-user i {
    color: var(--primary-color);
    font-size: 14px;
}



@media (max-width:1024px) {
    .register-page {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .register-page p {
        font-size: 14px;
    }

    .register-page .register-info {
        align-items: baseline;
    }

    .register-page .register-info p {
        text-align: left;
    }


    .register-page .register-info p {
        font-size: 12px;
    }

    .register-page .common-title {
        font-size: 40px;
    }

    .register-page .register-row .col-md-5.col-12{
        display: none;
    }
}

@media (max-width:576px) {
    .register-page .common-title {
        font-size: 28px;
    }
}

@media (max-width:320px) {
    .register-row {
        margin: 10px 4px;
    }
}