.returns-exchanges-page-main .common-banner-section {
    /* background-image: url(../assets/image/retrun-echange.jpg); */
     background-image: url(../assets/image/retrun-policy.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: top;
    display: flex;
    justify-content: center;
    background-position-x: 75%;
    min-height: 380px;
    height: 100%;
    max-height: 650px;
    border-radius: 0;
}

.returns-exchanges-page-main .common-banner-section .common-banner-content {
    color: var(--white);
    text-align: center;
    background-color: #33333397;
    width: 100%;
    padding: 20px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    border-radius: 0;
}

.returns-exchanges-page-main .common-banner-content h2 {
    margin: 0;
    font-size: 50px;
    letter-spacing: 6px;
}

.returns-exchanges-section .retun-echange-box {
    width: 100%;
    background: var(--white);
    border-radius: 10px;
    box-shadow: var(--shadow);
    overflow: hidden;
    padding: 50px 40px;
}

.returns-exchanges-section .retun-echange-box .returns-text {
    margin-bottom: 20px;
}

.returns-exchanges-section .retun-echange-box .returns-text h6 {
    font-size: 18px;
    color: var(--primary-color);
    font-weight: 500;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    gap: 8px
}

.returns-exchanges-section .retun-echange-box .returns-text p {
    font-size: 14px;
    color: var(--light-black);
    font-weight: 400;
}

.returns-exchanges-section .retun-echange-box .returns-text ul {
    margin-left: 0;
    margin-top: 16px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.returns-exchanges-section .retun-echange-box .returns-text ul li {
    font-size: 14px;
    color: var(--light-black);
    font-weight: 400;
}

.returns-exchanges-section .retun-echange-box .returns-text ul li span {
    color: var(--primary-color);
    font-weight: 600;
}

.returns-exchanges-section .retun-echange-box .returns-text .retuns-sub-title {
    color: var(--light-black);
    font-weight: 400;
    margin-bottom: 0;
}

@media (max-width:767px) {
    .returns-exchanges-page-main .common-banner-section {
              min-height: 170px;
        background-position: bottom;
    }

    .returns-exchanges-page-main .common-banner-content h2 {
        font-size: 30px;
    }
    .returns-exchanges-section .retun-echange-box .returns-text h6{
        font-size: 16px;
    }
    .returns-exchanges-section .retun-echange-box{
        padding: 40px 30px;
    }
}