.sell-silver-page-main  .common-banner-section {
    /* background-image: url('../assets/image/silver.jpg'); */
    background-image: url('../assets/image/sell-silver-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}
.sell-silver-page-main  .shop-by-category {
    margin-top: 80px;
}


.sell-silver-page-main  .gold-leading-section .leading-title h4.common-title {
    position: relative;
}

.sell-silver-page-main  .gold-leading-section .leading-title h4.common-title:after
{
    content: "";
    position: absolute;
    bottom: -16px;
    width: 228px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, #F9E7C1 8%, #B48A3E 47%, #F9E7C1 93%);
    border-image-slice: 1;
    padding-bottom: 40px;
}

.sell-silver-page-main  .gold-leading-section .leading-title p
 {
    font-size: 16px;
    color: var(--light-gray);
    text-align: center;
    padding-top: 30px;
    max-width: 850px;
    margin: 0 auto;
}


.sell-silver-page-main  .leading-card-box {
    margin-top: 40px;
}

.sell-silver-page-main  .leading-card-box .leading-control-title {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sell-silver-page-main  .leading-card-box .leading-control-title h6 {
    color: var(--light-gray);
    font-size: 14px;
    font-weight: 500;
    padding-left: 7px;
    padding-right: 7px;
}

.sell-silver-page-main  .leading-card-box .main-leading-box {
    width: 100%;
    background: var(--white);
    border-radius: 10px;
    box-shadow: var(--shadow);
    overflow: hidden;
    padding: 20px;
    transition: transform 0.3s ease;
    border-bottom: 4px solid var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    min-height: 120px;

}

.sell-silver-page-main  .leading-card-box .main-leading-box:hover {

    border-bottom: 4px solid var(--primary-color);
    transform: translateY(-8px);
}

.sell-silver-page-main  .leading-card-box .main-leading-box .leading-img-box {
    display: flex;
    gap: 10px;
    align-items: center;
}

.sell-silver-page-main  .leading-card-box .main-leading-box .leading-img-box img {
    width: 40px;
}

.sell-silver-page-main  .leading-card-box .main-leading-box .leading-img-box a {
    font-size: 14px;
    color: var(--primary-color);
    font-weight: 500;
    max-width: 230px;
}

.sell-silver-page-main  .leading-card-box .leadong-value a {
    font-size: 16px;
    max-width: 100%;
    color: var(--primary-color);
    font-weight: 500;
}

.leading-card-box .sell-btn {
    text-align: center;
}


@media (max-width:1024px) {
    .sell-silver-page-main  .shop-by-category {
        margin-top: 50px;
    }
}

@media (max-width:767px) {
    .sell-silver-page-main .common-banner-section{
        background-position: right;
    }
    .sell-silver-page-main  .gold-leading-section .leading-title p {
        font-size: 14px;
    }

    .sell-silver-page-main  .leading-card-box .main-leading-box .leading-img-box a {
        font-size: 12px;
    }

    .sell-silver-page-main  .leading-card-box .leadong-value a {
        font-size: 14px;
    }

    .sell-silver-page-main  .gold-leading-section .leading-title p{
        font-size: 14px;
    }
}